$width: 150px;
body{
    font-size: 16px;
    font-family: "Microsoft Yahei Font";
}
.clearfloat:after{
    visibility: hidden;
    content:'';
    height: 0;
    clear: both;
}
.container{
    position: relative;
    width: 700px;
    height: 600px;
    margin: 100px auto;
    background-color: #93b901;
    background-size: 700px 600px;
    .wrap{
        position: relative;
    }
    .menu{
        position: absolute;
        width: 150px;
        right: 0;
        top: 0;
        .info{
            text-align: left;
            height: 30px;
            line-height: 30px;
            color: red;
            font-size: 20px;
            font-weight: 600;
            >span{
            }
        }
        .btns{
            margin-top: 10px;
            .btn{
                display: block;
                padding: 8px 10px;
                outline: 0;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                color: #eee;
                background-color: #ee6655;
                transition: all 0.25s;
                &:hover{
                    cursor: pointer;
                    background-color: #ff8163;
                    color: #fff;
                }
            }
        }
        .instruction{
            margin-top: 10px;
            text-align: left;
            padding: 10px;
            line-height: 1.6;
        }
    }
    .tips{
        position: absolute;
        top: -100%;
        left: 200px;
        width: 200px;
        height: 200px;
        font-size: 25px;
        background-color: blue;
        color: #fff;
        transition: all 0.25;
    }
}